APP_KEY=
APP_SECRET=
ACCOUNT_NO=00000000
ACCOUNT_PRDT_CD=01
IS_PAPER_TRADING=true
BASE_URL_PAPER=https://openapivts.koreainvestment.com:29443
BASE_URL_LIVE=https://openapi.koreainvestment.com:9443
UNIVERSE_SOURCE=naver
COMPARE_UNIVERSE_NAVER=true
NAVER_HTTP_DELAY_SEC=0.05
HEARTBEAT_SEC=600
WATCHLIST_SAMPLE_SIZE=10
SHUTDOWN_HHMM=15:40
REQUIRE_LOCAL_KST=true
MARKET_HOLIDAYS=
MARKET_EXTRA_OPEN_DAYS=
